<section class="container mt-5">
    <h3 class="text-center mb-4">Detalhes do cliente</h3>
    <div class="details">
        <div>
            <label><strong>Nome:</strong></label> {{client.firstName}}
        </div>

        <div>
            <label><strong>Sobrenome:</strong></label> {{client.lastName}}
        </div>

        <div>
            <label><strong>Email:</strong></label> {{client.email}}
        </div>

        <div>
            <label><strong>Telefone:</strong></label> {{client.phone}}
        </div>
    </div>

    <div class="text-right mt-3">
        <button 
            (click)="goToClientList()" 
            type="button" 
            class="btn btn-danger"
        >
            <i class="bi bi-arrow-return-left mr1"></i>
            Voltar
        </button>
    </div>
</section>
